/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue",sans-serif;
  background-image: url("https://images.pexels.com/photos/194094/pexels-photo-194094.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
 }

 .mat-card  {
   margin: 0px auto;
   width: 80%;
 }
