.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.button {
  width: 100%;
  white-space: initial;
}

.example-form {
  width: 70%;
  margin: 0 auto;
}

.example-full-width {
  width:100%
}

.example-full-width-name {
  width:50%
}

.mat-card {
  padding-top: 3%;
}

.form {
  margin: 0px auto;
  width: 50%
}

.mat-raised-button {
  margin: 10px;
}
