  <mat-card class="mat-card">
    <form class="example-form" (ngSubmit)="save()">
        <mat-form-field class="example-full-width-name">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="boat.name" name="name" maxlength="30" required>
        </mat-form-field>
        <p>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea rows="5" matInput [(ngModel)]="boat.description" name="description" required></textarea>
        </mat-form-field>
        <div class="grid">
            <button class="mat-raised-button button" mat-raised-button (click)="goBack()">Back</button>
            <button *ngIf="boat.id != 0" class="mat-raised-button button" mat-raised-button color="warn" (click)="delete()">Delete</button>
            <button [disabled]="(!boat.name || !boat.description)" class="mat-raised-button button" mat-raised-button color="primary" (click)="save()">Save</button>
        </div>
      </form>
  </mat-card>
