.example-card {
  margin: 0 auto;
  width: 20%;
}

.example-form {
  width: 70%;
  margin: 0 auto;
}

.example-full-width {
  width: 100°%;
}

.example-button-row {
  margin: 0px auto;
  width: 33%;
}
